<h3>「F国からのスパイ」遊び方</h3>
<p>  このたびは、「F国からのスパイ」をプレイしていただきありがとうございます。</p>
<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title">ゲーム内容</h4>
    <p class="card-text">　あなたはF国の敏腕スパイです。</p>
    <p class="card-text">　あなたの役目は、秘密裏に渡された「暗号」を使って、民衆を洗脳すること。なに、難しいことではありません。いつものツイートに、こっそりと「暗号」を混ぜるだけです。</p>
    <p class="card-text">　そう、あくまで「こっそりと」...暗号が万が一、ライバルのスパイにばれてしまったら...大変なことになりますよ。</p>
  </div>
</div>
<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title">ルール</h4>
    <p class="card-text">　あなたは日替わりで「暗号」を割り振られます。この暗号は例えば「<%= pickAWord %>」、「<%= pickAWord %>」、「<%= pickAWord %>」のような普遍的な単語です。</p>
    <p class="card-text">　あなたは「投稿」「摘発」という2つ（たった2つ！）の行動でゲームを進めます。</p>
    <ul>
      <li>投稿...ログイン後「ホーム」にて表示される『暗号』を含めたツイートをつぶやきます。（※1）</li>
      <li>摘発...ライバルのスパイ（あなたと同じく「F国からのスパイ」をプレイしているTwitterユーザ）の『暗号』を推理し、フォームに打ち込みます。</li>
    </ul>
    <p class="card-text">あなたとライバルの行動によって、あなたのスパイとしての戦果である「スコア」が変動します。</p>
    <ul>
      <li>あなたの「投稿」後その日のうちにその『暗号』が誰にも「摘発」されなければ、「投稿」1回ごとに50ポイントを得ます。</li>
      <li>ライバルがあなたの『暗号』を「摘発」してしまった場合、あなたは100ポイントを失い、その『暗号』を使った「投稿」によって得られたはずのスコアも全て得られません。</li>
      <li>あなたの「摘発」が成功した場合、100ポイントを得ます。</li>
      <li>あなたの「摘発」が失敗した場合、20ポイントを失います。</li>
    </ul>
    <p class="card-text">※1: 他ユーザへのリプライやリツイート、ダイレクトメッセージはカウントされません。ご注意ください。</p>
  </div>
</div>
<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title">FAQ</h4>
    <div class="card mb-3">
      <div class="card-header">Q: 「投稿」はどのアプリから行えばいいのですか？</div>
      <div class="card-body text-info">
        <p class="card-text">A: 何でもかまいません。Twitterに投稿可能なクライアントならば認識可能です。日常的に使われているアプリをご利用ください。</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">Q: 誰がこのゲームをプレイしているのか、どうすれば分かりますか？</div>
      <div class="card-body text-info">
        <p class="card-text">A: 「ホーム」の「ライバル」欄に、あなたのフォローしているなかでこのゲームをプレイしている人の一覧が表示されます。（「摘発」もここから行えます。）</p>
      </div>
    </div>
  </div>
</div>
