<div class="jumbotron bg-light">
  <h3>呟いて、隠し通す。</h3>
  <p>我がF国では、スパイを募集しています。</p>
  <p>任務は簡単。Twitterに紛れ込んで、指定された「ワード」を呟くだけ。</p>
  <p>ただし、もしライバルのスパイに「それ」がバレてしまったら...あなたにはキツ～い「ペナルティ」が課されます。覚悟してくださいね。</p>
  <p>あなたのコミニュケーション能力とずる賢さ、影の薄さが今、問われます...。</p>
  <p>　→詳細なルールは<%= link_to 'こちら', '/about' %></p>

  <%= link_to "プレイする", '/auth/twitter', class:"btn btn-lg btn-info" %>
  <p>※Twitterの連携画面へ移動します</p>

</div>
