<div class="center jumbotron">
  <h1>あなたの呟きに戦略性を。</h1>
  <p>デイリークエスったーは、究極の対人戦略ゲームです。</p>
  <p>日々のつぶやきの中で、いかに与えられた任務をこなし、密かにスコアを稼ぐか。</p>
  <p>あなたに要求されるのは、例えるならば冷戦時代のスパイのようなプレイング。</p>
  <p>コミニュケーション能力と秘密を隠し通す力が今、問われます。</p>

  <%= link_to "Login with twitter", '/auth/twitter', class:"btn btn-lg btn-primary" %>
</div>
