<h3>information</h3>
<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title">日本語WordNetの使用に関して</h4>
    <p class="card-text">　本コンテンツは、「日本語WordNet」様より抽出した膨大な辞書データを使用し、ランダムな単語生成を行っています。</p>
    <p class="card-text">　日本語WordNetは単語リストのみならず、品詞情報、類義語の情報、意味情報などを含んだデータベースであり、学術目的を中心として無償利用ならば誰でもお使いいただけます。</p>
    <%= link_to "日本語ワードネット （XX版）© 2009-2011 NICT, 2012-2015 Francis Bond and 2016-2017 Francis Bond, Takayuki Kuribayashi", "http://compling.hss.ntu.edu.sg/wnja/index.ja.html" %>
  </div>
</div>
<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title">セキュリティについて</h4>
    <p class="card-text">　本コンテンツはTwitter連携によって提供されるブラウザアプリケーションですが、権限は「ツイートの閲覧、フォロー/フォロワーの閲覧」に限定しております。
      書き込み・フォロー・フォロー解除・DM送信などのアクティビティを行うことはありませんのでご安心ください。（これは万が一アプリが悪意ある第三者に乗っ取りを受けた場合でも同様です。）</p>
    <p class="card-text">　本コンテンツは上記連携時に配布される秘密鍵を使ってTwitter APIにアクセスしておりますが、この秘密鍵をサーバではなく皆様の端末に「暗号化cookie」として保存することで、
      万が一サーバへの攻撃・情報流出があっても皆様のアプリが乗っ取られる危険性を最大限排除しております。</p>
    <hr>
    <p class="card-text">上記のようにセキュリティに関しては最大限配慮しておりますが、お気づきの点、至らぬ点などありましたら下記連絡先へお知らせください。</p>
  </div>
</div>
<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title">連絡先</h4>
    <p class="card-text">お気づきの点、バグ、不可解な点、ご質問などありましたらお気軽にご連絡ください。（場合によっては応答に多少お時間をいただく可能性があります。申し訳ありません。）</p>
    <p class="card-text">Twitterアカウント <%= link_to "@furikake555", "https://twitter.com/furikake555" %></p>
    <p class="card-text">メールアドレス ewave6300[at]gmail.com</p>
  </div>
</div>
