<div class="center jumbotron">
<p>きょうのあなたのラッキーワードは</p>
<h1><%= pickAWord %></h1>
<h1><%= pickAWord %></h1>
<h1><%= pickAWord %></h1>
<p>です。今日も１日頑張りましょう！！</p>
<p class="mt-3">※これはおまけページです。占いの結果は一切保証いたしませんのでご了承ください。</p>
</div>
