<div class="row">
  <div class="col-lg-4">
  <%= render partial: 'users/ranking' %>
  </div>
  <div class="col-lg-4">
  <%= render partial: 'users/ranking_daily' %>
  </div>
  <div class="col-lg-4">
  <%= render partial: 'users/ranking_friends' %>
  </div>
</div>
