<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Under maintenance</title>
  </head>
  <body>
    <h3>Under maintenance</h3>
    <p>ただ今メンテナンスを行っております。ご迷惑をおかけし、申し訳ありません。</p>
    <p><%= reason %></p>
  </body>
</html>
