
<% @ranking = User.where("is_secret = ?", false).limit(10) %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ランキング</th>
      <th scope="col">ユーザ情報</th>
      <th scope="col">スコア</th>
      <th scope="col">本日スコア</th>
    </tr>
  </thead>
  <tbody>
    <% @ranking.each_with_index do |ranker, i| %>
    <% rankeracc = @client.user(ranker.twid.to_i) %>
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= render ranker, locals:{score_invisible: true} %></td>
      <td><%= ranker.get_score(nil) %></td>
      <td><%= int_to_str_with_sign(ranker.get_todays_score(nil)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
