<h5>ライバル内ランキング</h5>

<% @friends = get_friends(@client) %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ランキング</th>
      <th scope="col">ユーザ情報</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each_with_index do |ranker, i| %>
    <% rankeracc = @client.user(ranker.twid.to_i) %>
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= render ranker %></td>
    </tr>
    <% end %>
  </tbody>
</table>
