<% @ranking = User.where("is_secret = ?", false).limit(10) %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">User</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <% @ranking.each_with_index do |ranker, i| %>
    <% rankeracc = @client.user(ranker.twid.to_i) %>
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= render ranker %></td>
      <td><%= ranker.get_score(nil) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
