<div class="card text-white bg-warning center">
  <div class="card-body">
    <h4 class="card-title">摘発失敗</h4>
    <p class="card-text">通告された「暗号」は既に他の協力者によって摘発されていました。</p>
    <p class="card-text">貴方は残念ながら報酬を受け取ることはできませんが、ペナルティを受けることもありません。</p>
    <hr>
    <p class="card-text mb-0"><small>引き続き監視の目を緩めないでください。</small></p>
  </div>
</div>
