<div class="card text-white bg-warning center">
  <div class="card-body">
    <h4 class="card-title">摘発失敗</h4>
    <p class="card-text">通告された「暗号」は既にその効力を失っていました。</p>
    <p class="card-text">「暗号」が有効なのは発行された当日と、次の日の午前1時までです。</p>
    <hr>
    <p class="card-text mb-0"><small>引き続き監視の目を緩めないでください。</small></p>
  </div>
</div>
