<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">摘発失敗</h4>
  <p>通告された「暗号」は既にその効力を失っていました。</p>
  <p>「暗号」が有効なのは発行された当日と、次の日の午前1時までです。</p>
  <hr>
  <small><p class="mb-0">引き続き監視の目を緩めないでください。</p></small>
</div>
