<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">摘発成功</h4>
  <p>貴方の協力により当該スパイは摘発されました。</p>
  <p>摘発された暗号：「<%= @word %>」</p>
  <p>ご協力ありがとうございます。</p>
  <p>貴方へは謝礼として200ポイントが加算されます。</p>
  <hr>
  <small><p class="text-sm mb-0">当該人物は引き続き別の暗号を使用したスパイ活動を継続するものと思われます。引き続き監視の目を緩めないでください。</p></small>
</div>
