<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">摘発失敗</h4>
  <p>該当人物は上記のような暗号を所持してはいませんでした。</p>
  <p>貴方へのペナルティとして50ポイントが減算されます。</p>
  <hr>
  <small><p class="mb-0">引き続き監視の目を緩めないでください。</p></small>
</div>
