<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">摘発失敗</h4>
  <p>通告された「暗号」は既に他の協力者によって摘発されていました。</p>
  <p>貴方は残念ながら報酬を受け取ることはできませんが、ペナルティを受けることもありません。</p>
  <hr>
  <small><p class="mb-0">引き続き監視の目を緩めないでください。</p></small>
</div>
