<% acc = @client.user(user.twid.to_i) %>

<div class="media mb-3">
  <% icon_path = get_twpic_uri(acc) %>
  <%= link_to image_tag(icon_path, size: "96x96" , alt: acc.name, class: "mr-3 rounded-circle"), @user_tw_account.uri.to_s, target:"_new" %>
  <div class="media-body">
    <h4 class="mt-0"><%= @user_tw_account.name %></h4>
    <% if user != current_user %>
      <p><%= link_to "Twitterページを見る", acc.url.to_s, target:"_new" %></p>
    <% end %>
    <p>Score: <%= user.get_score(nil) %></p>
  </div>
</div>
