<h2>摘発履歴</h2>
<% rphists = current_user.reports.all.order("created_at DESC") %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">相手</th>
      <th scope="col">単語</th>
      <th scope="col">成否</th>
      <th scope="col">摘発時刻</th>
    </tr>
  </thead>
  <tbody>
    <% rphists.each do |rp| %>

    <% if rp.reported.screen_name.nil? or rp.reported.screen_name.blank? %>
      <% acc = @client.rp(rp.reported.twid.to_i) %>
      <% rp.reported.name = acc.name %>
      <% rp.reported.screen_name = acc.screen_name %>
      <% rp.reported.url = acc.url.to_s %>
      <% rp.reported.imgurl = get_twpic_uri(acc) %>
      <% rp.reported.save %>
    <% end %>
    <tr>
      <td><%= "#{rp.reported.name}(@#{rp.reported.screen_name})" %></td>
      <td><%= rp.word_str %></td>
      <td><%= rp.succeed ? "成功" : "失敗" %></td>
      <td><%= smart_time_to_str(rp.created_at) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
