<div class="media mb-3">
  <% icon_path = @user_tw_account.profile_image_url.to_s.sub(/(.*)_normal/){$1} %>
  <%= image_tag(icon_path, size: "128x128" , alt: @user_tw_account.name, class: "mr-3 rounded-circle") %>
  <div class="media-body">
    <h2 class="mt-0"><%= @user_tw_account.name %></h2>
    <p>Score: <%= @user.score %></p>
  </div>
</div>

<% if @user != current_user %>
<div class="card text-center border-danger mb-3">
  <div class="card-header">
    <h3 class="card-title text-danger">摘発フォーム</h3>
  </div>
  <div class="card-body">
    <p class="card-text text-danger">当該人物は、次の暗号を使用したスパイであると思われます。</p>
    <div classs="form-group">
      <input class="form-control form-control-lg" placeholder="「暗号」をここに入力してください">
    </div>
    <button type="submit" class="btn btn-danger text-light mt-3">詳細な照合を依頼します。</button>

  </div>
</div>
<% end %>

<div class="card bg-light mb-3">
  <div class="card-body">
    <h3 class="card-title">Mission</h3>
    <%= render partial: 'words/words' %>
  </div>
</div>
