<table class="table wordlist">
  <thead>
    <tr>
      <th scope="col">暗号</th>
      <th scope="col">摘発</th>
      <th scope="col">投稿数</th>
      <th scope="col">獲得スコア</th>
    </tr>
  </thead>
  <% @deadwords.each do |dw| %>
    <%= render dw if dw.created_at.dup.localtime("+09:00").to_date == Time.zone.yesterday %>
  <% end %>
</table>
