<table class="table wordlist">
  <thead>
    <tr>
      <th scope="col">暗号</th>
      <th scope="col">摘発</th>
      <th scope="col">投稿数</th>
      <th scope="col">獲得スコア</th>
    </tr>
  </thead>
  <% @sum = 0 %>
  <%= render @words %>
  <tr>
    <th scope="row">本日獲得スコア</th>
    <td></td>
    <td></td>
    <td><%= @sum %></td>
  </tr>
  <tr>
    <th scope="row">合計スコア</th>
    <td></td>
    <td></td>
    <td><%= @user.score + @sum %></td>
  </tr>
</table>
