@import "bootstrap";

body{
  //background-color: #FBE251;
  background-color: #e5cfa9;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

/*Main container*/
.container-fluid{
  padding: 0px 20px;
}

/*Twitter post view*/
.timeline{
  padding: 15px;
}
.tweet{
  font-size: 80%;
}
.tweetcontent{
  font-size: 180%;
}
.tweetstatus{
  color: #AAAAAA;
}
.retweet{
  color: #888888;
  font-size: 80%;
  margin: 0px;
}

/*Quest view*/
.quest{
  border-radius: 0.5em;
  padding: 5px;
  margin: 10px 0px;
}

/*Table*/
.table{
  @media (max-width: 800px) {
    font-size: 75%;
  }
}
