@import "bootstrap";

body{
  //background-color: #FBE251;
  background-color: #e5cfa9;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

/*Main container*/
.container-fluid{
  margin: 0px 20px;
}

/*Twitter post view*/
.post{
  background-color: #EEEEEE;
  border-radius: 0.5em;
  padding: 5px;
  margin: 10px 0px;
}

/*Quest view*/
.quest{
  border-radius: 0.5em;
  padding: 5px;
  margin: 10px 0px;
}

/*Table*/
.table{
  @media (max-width: 800px) {
    font-size: 75%;
  }
}
