<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <%= link_to "F国からのスパイ", root_path, class:"navbar-brand mb-0"%>
  <ul class="navbar-nav">
    <li class="nav-item"><%= link_to "遊び方", '/about', class:"nav-link"%></li>
    <li class="nav-item"><%= link_to "インフォメーション", '/info', class:"nav-link"%></li>
    <% if logged_in? %>
      <li class="nav-item"><%= link_to "ログアウト", '/logout', class:"nav-link"%></li>
    <% end %>
  </ul>
</nav>
