<!DOCTYPE html>
<html>
  <head>
    <title>F国からのスパイ</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
</html>
